@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

.container {
  @apply mx-auto max-w-screen-lg px-4;
}

.container--full {
  @apply w-full px-0;
}
.green-bg{
    background-color: #7c7b6a;
}
.bg-brown {
 --tw-bg-opacity: 1;
    background-color: rgb(68 64 60 / var(--tw-bg-opacity, 1))
}

@keyframes smoke1 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(150px, 80px) scale(1.05); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes smoke2 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(-100px, 50px) scale(1.1); }
  100% { transform: translate(0, 0) scale(1); }
}

.animate-smoke1 {
  animation: smoke1 40s linear infinite;
}

.animate-smoke2 {
  animation: smoke2 60s linear infinite;
}


